html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

:root {
  --product-red: rgb(249, 30, 30);
  --product-lightgrey: rgb(245, 241, 241);
  --product-grey: rgb(170, 164, 164);
  --product-blue: rgb(12, 86, 189);
  --product-white: white;
  --product-yellow: rgb(249, 208, 1);
  --product-darkgrey: rgb(71, 69, 69);
  --product-black: black;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.product-card {
  width: 450px;
  min-width: fit-content;
  width: 50%;
  padding: 16px;
  position: relative;
  border: 1px solid var(--product-lightgrey);
}

.product-image {
  width: 100%;
  padding: 20px 10px 20px 10px;
}

.product-order_container {
  background-color: var(--product-lightgrey);
  padding: 15px;
  border-radius: 0 0 5px 5px;
}

/* button - product availability*/

/* .product-availability {
  border: 1px solid var(--product-grey);
  border-radius: 5px;
  width: 50%;
  padding: 7px 5px;
  margin: 15px 25%;
  background-color: var(--product-yellow);
  color: var(--product-black);
  cursor: pointer;
} */

.product-discount_info {
  font-style: italic;
  color: var(--product-darkgrey)
}

/* Sticker discount - Nalepka obdelnikova */

.sticker-discount {
  border: 1px solid var(--product-red);
  background-color: var(--product-red);
  padding: 3px 10px;
  display: block;
  width: fit-content;
  margin: 10px 0 5px 0;
  color: var(--product-white);
  font-weight: 700;
}

/* .vertical-line {
  height: 50px;
  width: 1px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
} */

/* vertical line */
.vertical-line {
  display: inline-block;
  height: 20px;
  width: 1.5px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: var(--product-black);
}

/* review star icons */

.review-icon {
  display: inline-block;
  margin-right: 10px;
}

.checked {
  color: var(--product-yellow);
}

.not-checked {
  color: var(--product-lightgrey);
}

.reviews-stars a {
  color: inherit;
  /* Zabezpečuje, že odkaz nebude meniť farbu textu. */
  text-decoration: none;
  /* Odoberie podčiarknutie odkazu. */
}

.review-info {
  color: var(--product-grey);
  text-decoration: underline;
}

/* Discount sticker - circle */

.discount-sticker {
  background-color: var(--product-red);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-size: larger;
  color: var(--product-white);
  position: absolute;
  right: 30px;
  top: 170px;
  margin-top: 50px;
  font-weight: 700;
}

/* Obrazok */

.image-container {
  margin-top: 20px;
}

/* Order buttons */
.order-button {
  display: inline-block;
  text-align: center;
  padding: 10px 25px 10px 25px;
  margin: 10px auto;
  background-color: var(--product-yellow);
  border-radius: 5px;
  border: 1px solid var(--product-grey);
  cursor: pointer;
}

.product-availability {
  background-color: var(--product-white);
  display: block;
  margin-bottom: 15px;
}

/* Product price - product discount */

.product-price {
  font-size: 25px;
  font-weight: 700;
}

.product-oldprice {
  text-decoration: line-through;
  color: var(--product-grey);
  display: block;
}

.form-container {
  text-align: center;
}

.formfield {
  display: inline-block;
  padding: 10px;
  border: 1px solid var(--product-grey);
  border-radius: 5px;
  margin-right: 5px;
  width: 50px;
}

.product-reservation_button {
  display: block;
  margin-top: 0;
  font-weight: 700;
}

.product-order_button {
  font-weight: 700;
}

.product-reservation_info {
  display: block;
  text-align: center;
}
